@{
    Layout = "_Layout";

}
<h2>@ViewBag.Title</h2>
<div class="row mt-5 mb-2">
    @{
        foreach (var person in Model.AllPersons)
        {
            <div class="col-lg-3">
                <h4>@person.name</h4>
                <img class="img-thumbnail" src="@("~/img/"+person.image)" asp-append-version="true" width="250px" height="250px" alt="@person.name"/>
                <p>Birth Day: @person.birthDay.Date.ToString("d")</p>
                <form>
                    <button asp-action="Edit" class="btn btn-warning" asp-route-id="@person.id">Edit</button>
                    <button asp-action="Delete" class="btn btn-danger" asp-route-id="@person.id">Delete</button>
                </form>
            </div>
        }
    }
</div>

